body {
  background-color: lightgrey;
}

h1 {
  text-align: center;
  font-size: 50px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.completed {
  background-color: rosybrown;
}

.mark {
  margin: 10px;
}

.mark:checked+span {
  text-decoration: line-through;
  font-style: italic;
}

.new-todo {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.02);
  z-index: 2;
  box-shadow: none;
}

.valeur-param {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 80px);
  display: inline-block;
  vertical-align: -5px;
}

.ligne-param {
  position: relative;
}

section {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  position: relative;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
}

.close {
  float: right;
  margin-right: 15px;
}

.gsc-control-cse .gsc-table-result {
  font-family: inherit;
}

.gsc-control-cse .gsc-input-box {
  height: inherit;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button,
input.gsc-search-button-v2 {
  box-sizing: content-box;
  line-height: normal;
  margin-top: 0px;
}

clock {
    z-index: -1;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 10%;
}

.clock text {
  /* Stroke pour du texte et fill pour le reste */

}

.hand {
  stroke: rgb(1, 1, 2);
  stroke-width: 6;
}

.heure.hand {
  stroke-width: 8;
}

.seconde.hand {
  stroke: rgb(90, 0, 0);
  stroke-width: 4;
}

.face {
  stroke: rgb(77, 77, 77);
  stroke-width: 6;
}
.minutetick.face {
  stroke-width: 2;
}


feed img{
    width: 100%;
    height: auto;
}
